# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore the env
venv/
.env

# Ignore the workspace file
Dungeon Roguelike.code-workspace
